ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#contact a {
  color: #a683e3;
  margin: 10px;
}

#contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  background-color: #0f4876;
}

#icon {
  background-color: #0e426d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

#icon-container {
  display: flex;
  /* justify-content: center; */
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
}

#contact p {
  font-size: 14px;
}

@media screen and (max-width: 426px) {
  #icon {
    width: 30px;
    height: 30px;
  }

  ul li {
    font-size: 12px;
  }

  #contact p {
    font-size: 10px;
  }
}

@media screen and (min-width: 2560px) {
  #icon {
    width: 50px;
    height: 50px;
  }

  ul li {
    font-size: 20px;
  }

  #contact p {
    font-size: 16px;
  }
}

.button.button-gold {
  background: #fdc741;
  color: white !important;
}

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #c0c0c0;
}
a:hover {
  text-decoration: none;
  color: white;
  background-color: #0e426d;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Add modifier classes for different button sizes */
.btn-block {
  display: block;
  width: 100%;
}
.btn-xlarge {
  font-size: 20px;
  padding: 12px 18px;
}
.btn-large {
  font-size: 18px;
  padding: 10px 16px;
}
.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}
.btn-xsmall {
  font-size: 10px;
  padding: 3px 6px;
}

/* Use semantic classnames */
.btn-success {
  /* background-color: green; */
  color: white;
}
.btn-newsLetter {
  background-color: #fdc741;
  /* border-color: pink; */
  color: white;
  height: 60px;
  width: 260px;
}
.btn-warning {
  /* background-color: pink; */
  border-color: #fdc741;
  color: white;
  height: 60px;
  width: 260px;
}
.btn-info {
  background-color: blue;
  color: white;
}

.seperator {
  margin-top: 5px;
}

.footerText {
  margin-left: 100px;
}

.btn-newsLetter:hover {
  color: #fff;
  background-color: #ffb200;
  border-color: #ffb200;
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (max-width: 1440px) {
  /* styles for browsers larger than 1440px; */
  #contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200
px
; */
    background-color: #0f4876;
    width: 105.5vw;
  }
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    width: 105.5vw;
  }
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
